[submodule "electron-excel-tally"]
	path = electron-excel-tally
	url = ssh://git@github.com/neeraj76/electron-excel-tally
[submodule "react-excel-tally"]
	path = react-excel-tally
	url = ssh://git@github.com/neeraj76/react-excel-tally
